# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
TripoEnv/

# Logs
logs/
*.log

# Photos (trop volumineuses)
voitures_photos/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
